 /* Google style input box */
    .google-input {
      border: 1px solid #a6a6a6;     
      border-radius: 3px;
      padding: 8px 10px;
      width: 100%;
      outline: none;
      transition: all 0.2s ease-in-out;
    }

    .google-input:focus {
      border-color: #e77600;          
    }

    /*Google  button */
    .google-btn {
      background-color: #FFD814;
      border: 1px solid #FCD200;
      color: #111;
      font-weight: 500;
      width: 100%;
      padding: 10px 0;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
    }

    .google-btn:hover {
      background-color: #F7CA00;
    }

    .google-btn:active {
      background-color: #F0B800;
    }
