*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signin{
    text-align: center;
}

.logo img{
    width: 180px;
    margin-top: 20px;
}

.signin h2{
    font-size: 45px;
    padding-top: 10px;
    font-family: "Lora";
    font-weight: 500;
    margin-bottom: 20px;
}

.signin form p{
    font-size: 18px;
    padding-bottom: 10px;
    font-family: "Roboto";
    text-align: left;
    padding-left: 580px;
}

.signin form input{
    padding: 10px 170px 10px 8px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.signin .btn{
    padding: 10px 50px;
    
}